{% extends 'base.html' %}
{% load static %}


{% block content %}

<table>
    {% if user.is_authenticated %}
    <div class="form-group ">
        <h2 class="text-2xl font-bold mb-4">Add comment</h2>
        <form method="POST" class="space-y-4 ">
            {{ form.as_table }}
            {% csrf_token %}
        </table>
        <button class="px-4 py-2 bg-blue-500 text-white rounded" type="submit">Add comment</button>
    </form>
</div>






{% else %}
Ye shall not make any comments, please register, don't be a stranger
{% endif %}


{% endblock %}