<!-- {% extends 'base.html' %} -->
<!-- {% load static %} -->


<!-- {% block content %} -->

<table>
    <div class="p-10 bg-white mx-auto xs:p-0 md:w-full md:max-w-md">

        <h1 class="mb-6 font-sans text-2xl font-bold text-center text-wrap py-7 text-tertiary">Welcome Back!</h1>
        <form method="POST" class="min-w-full rounded-lg shadow-lg bg-secondary">
            {{ form.as_table }}
            {% csrf_token %}
        </div>
        </form>
    </table>
    <button class="px-4 py-2 bg-blue-500 text-white rounded" type="submit">Log in</button>


<!-- {% endblock %} -->