<!-- {% extends 'base.html' %} -->
{% load static %}

<!-- {% block content %} -->

<div class="bg-secondary py-8 mx-auto rounded-lg sm:rounded-lg sm:px-10">
    <h2 class=" py-8 text-4xl text-tertiary font-bold text-center">Register</h2>

    <form method="POST" class="space-y-6">
        {% csrf_token %}
        <div class="overflow-hidden shadow sm:rounded-md">
            <div class="px-4 py-6 sm:p-6">
                <div class="grid grid-cols-6 gap-6 text-tertiary bg-secondary">
                    <!-- Dynamically generated form fields will go here -->
                    <!-- You might need to customize this part based on your form fields -->
                    {{ form.as_p }}
                </div>
            </div>

            <div class="px-4 py-3 items-center justify-center text-right sm:px-6">
                <button type="submit" class="inline-flex py-2 px-4 text-xl font-lg rounded-md text-quinary ">

                    Register
                </button>
            </div>
        </div>
    </form>
</div>
<!-- {% endblock %} -->